# Build files
*.mo

# Debian package build files
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/minios-session-manager/
debian/tmp/

# Python cache
__pycache__/
*.py[cod]
*$py.class
