[Unit]
Description=Save MiniOS SquashFS session periodically
Documentation=man:minios-session-manager(1)
After=local-fs.target minios-persistence-guard.service

[Service]
Type=oneshot
ExecStart=/usr/bin/minios-session autosave
